body {
    /*background-image:url(../../Images/AP_bg.png) ; */
    background-repeat: repeat-x;
    background-position: center top;
    background-color: #EFEFEF;
}

input
{
    color:#000099;
	/*border-color: #030;*/
}

select
{
    color:#000099;
}

textarea 
{
    color:#000099;
}
    
#header 
{
    background-color: white;
}

#container {
    color:#000099;
    background:white;
}

#project_edit_area
{
    background-color: #E4E4E4;
}

#edit_area
{
    background-color: #E4E4E4;
}

#product_edit_area
{
/*    background-color: #E4E4E4;*/
}

.page_header_text
{
    background-color: #E4E4E4;
}

.title {
    color:white;
}

.pseudo_text_box
{
    color: #000099;
    /*background-color: #FFFFFF;*/
}

.login_name {
    color:white;
}

.error_message
{
    color:red;
}

.grid_selected
{
    background-color: #D1DDF1;
    color:#333333;
    font-weight:bold;
}

.grid_header
{
    background-color: #6B696B;
    color: White;
    text-decoration:none;
    /*font-weight:normal; does not work*/
}

.grid_footer
{
/*    background-color: #6B696B;
    color: White;
    text-decoration:none;*/
    text-align:right;
}

.grid_row
{
    background-color: #E5E5E5;
}

.grid_alternating_row
{
    background-color: White;
}

.form_button:hover
{
    background-color: #AAB0FF;
}

.tabmenu_button
{
    color:gray;
    background-color:lightgray;
}

.tabmenu_button:hover
{
    background-color: gray;
    color:white;
}

.hidden_text
{
    background-color: #E4E4E4;
    color: #E4E4E4;
}

#menuh a:hover
{
    color: #FFFF99;
    background-color: #666666;
}	

#menuh a:link, #menuh a:visited, #menuh a:active
{
    color: white;
    background-color: gray;
}
	
