input
{
/*    border: solid 1px Gray;*/ 
    border:inherit;
    font-family:Verdana;
    font-size:11px;
}

select
{
    /* remmed out 10/10/2014 to remove ugly sunken effect */
        /*border: none;*/
        /*solid 1px Gray;*/ 
    font-family:Verdana;
    font-size:11px;
}

textarea 
{
    border: solid 1px Gray; 
    font-family:verdana;
    font-size:11px;
}
  
.modalBackground
{
            background-color: lightgray;
            filter: alpha(opacity=50);
            opacity: 0.5;
}

.modalPopup
{
            background-color: #FFFFFF;
            border-width: 1px;
            border-style: solid;
            border-color: gray;
            padding-top: 10px;
            padding-left: 10px;
            padding-right: 10px;
            width: 1100px;
            height: 575px;
}

.smallModalPopup
{
            background-color: #FFFFFF;
            border-width: 1px;
            border-style: solid;
            border-color: gray;
            padding-top: 10px;
            padding-left: 10px;
            width: 500px;
            height: 300px;
}

.print_table table td
{
    /*needed for PO Header Print*/
    text-align:left;
}
  
#container {
    height:6000px;
    width:1100px;
    text-align:left;
    font-size:11px;
    padding:5px;
    /*border: 1px solid gray;*/
    margin-left:auto;
    margin-right:auto;
}

#annual_totals th {
	padding: 0px 0px 0px 0px;
}

#annual_totals th a {
    text-decoration:none;
    font-weight:normal;
    color:white;
}

#annual_totals td {
	padding: 1px;
	/*border-bottom:1px solid gray;*/
}

#activity_grid
{
    /*overflow: auto;
    height: 220px;
    width:1090px;*/
}

#activity_grid th {
	padding: 3px 2px 3px 2px;
}

#activity_grid th a {
    text-decoration:none;
    font-weight:normal;
    color:white;
}

#activity_grid td {
	padding: 2px;
}

#grid_monthly
{
/*    overflow: auto; */
    height: 220px;
    width:1090px;
}

#grid_monthly th {
	padding: 3px 2px 3px 2px;
}

#grid_monthly th a {
    text-decoration:none;
    font-weight:normal;
    color:white;
}

#grid_monthly td {
	padding: 2px;
}



#project_grid th {
	padding: 3px 2px 3px 2px;
}

#project_grid th a {
    text-decoration:none;
    font-weight:normal;
    color:white;
}

#project_grid td {
	padding: 2px;
}

#budget_snapshot_grid
{
    /*overflow: auto;
    /*height: 220px;
    width:1090px;*/
}

#budget_snapshot_grid th {
	padding: 3px 2px 3px 2px;
}

#budget_snapshot_grid th a {
    text-decoration:none;
    font-weight:normal;
    color:white;
}

#budget_snapshot_grid td {
	padding: 2px;
}

#worklist_grid th {
	padding: 3px 2px 3px 2px;
}

#worklist_grid th a {
    text-decoration:none;
    font-weight:normal;
    color:white;
}

#worklist_grid td {
	padding: 2px;
}

#audit_grid
{
    overflow: auto;
    height: 280px;
    width:1090px;
}

#audit_grid th {
	padding: 3px 2px 3px 2px;
}

#audit_grid th a {
    text-decoration:none;
    font-weight:normal;
    color:white;
}

#audit_grid td {
	padding: 2px;
}

#rebateheader_grid
{
    /*overflow: auto;*/
    height: 160px;
    width:660px;
}

#rebateheader_grid th {
	padding: 3px 2px 3px 2px;
}

#rebateheader_grid th a {
    text-decoration:none;
    font-weight:normal;
    color:white;
}

#rebateheader_grid td 
{
	padding: 2px;
	text-align:left;
}

#rebateheader2_grid
{
    /*overflow: auto;*/
    height: 220px;
    width:460px;
}

#rebateheader2_grid th {
	padding: 3px 2px 3px 2px;
}

#rebateheader2_grid th a {
    text-decoration:none;
    font-weight:normal;
    color:white;
}

#rebateheader2_grid td 
{
	padding: 2px;
	text-align:left;
}

#poheader_grid
{
    overflow: auto;
    height: 120px;
    width:1090px;
}

#poheader_grid th {
	padding: 3px 2px 3px 2px;
}

#poheader_grid th a {
    text-decoration:none;
    font-weight:normal;
    color:white;
}

#poheader_grid td 
{
	padding: 2px;
	text-align:left;
}

#poheader_grid_rs th {
	padding: 3px 2px 3px 2px;
}

#poheader_grid_rs th a {
    text-decoration:none;
    font-weight:normal;
    color:white;
}

#poheader_grid_rs td 
{
	padding: 2px;
	text-align:left;
}

#project_edit_area
{
    border: 1px solid #808080;
    width: 1085px;
    height: 575px;
    padding: 3px;
}

#project_to_customer_edit_area
{
    border: 1px solid #808080;
    width: 1085px;
    height: 275px;
    padding: 3px;
}

#product_edit_area
{
    border: 1px solid #808080;
    width: 775px;
    height: 275px;
    padding: 3px;
}

#jolin_edit_area
{
    border: 1px solid #808080;
    width: 775px;
    height: 325px;
    padding: 3px;
}

#jolin_edit_area_large
{
    border: 1px solid #808080;
    width: 775px;
    height: 450px;
    padding: 3px;
}

#edit_area
{
    border: 1px solid #808080;
    width: 1092px;
    height: 175px;
	padding: 3px;
}

#spacer
{
    width: 1085px;
    height: 7px;
	/*padding: 3px;*/
}

#left_column
{
    width: 165px;
    height: 890px; 
    position: relative;
    /*border: 1px solid gray;*/
	float: left;
	padding-left:0px;
	padding-right:0px;
}

#right_column
{
    background-image: url(../../Images/left_border.gif);
    background-repeat: repeat-y;
	float: left;
    width: 900px;
    height: 890px; 
    position: relative; 
	padding-left:10px;
	padding-right:0px;
    /*border: 1px solid #CCCCCC;*/
}

.title {
    font-size:28px;
    font-weight:normal;
}

.login_name 
{
    /*used in AP.master*/
    font-family:Arial;
    font-size:12px;
    font-weight:normal;
    text-align:right;
    /*color:darkblue;*/
    color:#333333;
}

.login_name_old 
{
    /*used in AP.master*/
    font-size:11px;
    font-weight:normal;
    text-align:right;
}

.pseudo_text_box
{
    border: solid 1px Gray; 
    padding:0px 0px 0px 1px;
    height:15px;
}

#promo_grid
{
    /*overflow: auto;
    /*height: 220px;
    width:1090px;*/
}

#promo_grid th {
    padding: 3px 2px 3px 2px;
}

#promo_grid th a {
    text-decoration:none;
    font-weight:normal;
    color:white;
}

#promo_grid td {
    padding: 2px;
}

.disabled_text
{
    border: 1px solid #E4E4E4;
    padding:2px;
}

.page_header
{
    font-size:12px;
    font-weight:bold;
    padding: 2px;
    height:15px;
}

.page_header_text
{
    font-size:12px;
    font-weight:bold;
    padding: 2px;
    height:15px;
}

.print_page_header
{
    font-size:11px;
    font-weight:bold;
}

.label_text
{
    font-size:11px;
    font-weight:normal;
    border: 1px solid #E4E4E4;
    padding:2px;
    height:12px;
}

.print_label_text
{
    font-size:11px;
    font-weight:normal;
    border: 1px solid #E4E4E4;
    padding:2px;
    text-align:left;
}

#po_header_print
{
    /*remmed out 05/06/12 
    text-align:left;
    width:500px;
    font-size:11px;*/
}

.hidden_text
{
    font-size:9px;
    font-weight:normal;
    border: none;
    padding:0px;
    height:11px;
}

.error_message
{
    font-size:11px;
    font-weight:normal;
    padding:2px;
    height:12px;
}

.form_button
{
    Height:21px;
    Width:75px;
    border: solid 1px Gray; 
}

.form_button:hover
{
    /*cursor: hand;*/
    /*cursor:move;*/
}

.tabmenu_button
{
    border-style:none;
}

.tabmenu_button:hover
{
    cursor: hand;
    /*cursor:move;*/
}

/* New menu added 10/11/10 attempt to solve IE6/IE8 incompatibilities*/
#menu_container
	{
	font-size: 11px;
	width:1108px;
    height:14px;
	border: 1px solid gray;
	margin-left:auto;
	margin-right:auto;
	background-color:Gray;
	padding:2px 0px 2px 0px;
	}

#menu_container ul
	{
	list-style:none;
	margin:0;
	padding:0;
	float:left;
	width:9em;	/* width of all menu boxes */
	}

#menu_container a:link, #menu_container a:visited, #menu_container a:active
{
    color: white;
    text-decoration: none;
}
	
#menu_container a:hover
{
    color: #FFFF99;
    text-decoration: none;
}	

/*menu.............................................................................*/
#menuh-container
	{
	/*position: absolute;		
	top: 1em;
	left: 1em;*/
	width:1110px;
	/*border: 1px solid gray;*/
	margin-left:auto;
	margin-right:auto;
	}

#menuh
	{
	font-size: 11px;
	/*font-family: arial, helvetica, sans-serif;*/
	width:100%;
	float:left;
	/*margin:2em;
	margin-top: 1em;
	border: 1px solid yellow;*/
	background-color:Gray;
	}
		
#menuh a
	{
	text-align: center;
	display:block;
	/*border: 1px solid #555;*/
	white-space:nowrap;
	margin:0;
	padding: 0.3em;
	}
	
#menuh a:link, #menuh a:visited, #menuh a:active, #menuh a:hover
{
    text-decoration: none;
}
	
/*#menuh a:hover
{
    text-decoration: none;
}*/	
	
/*#menuh a.top_parent, #menuh a.top_parent:hover  /* attaches down-arrow to all top-parents 
	{
	background-image: url(navdown_white.gif);
	background-position: right center;
	background-repeat: no-repeat;
	}
	
#menuh a.parent, #menuh a.parent:hover 	/* attaches side-arrow to all parents 
	{
	background-image: url(nav_white.gif);
	background-position: right center;
	background-repeat: no-repeat;
	}
*/
#menuh ul
	{
	list-style:none;
	margin:0;
	padding:0;
	float:left;
	width:9em;	/* width of all menu boxes */
	/* NOTE: For adjustable menu boxes you can comment out the above width rule.
	However, you will have to add padding in the "#menh a" rule so that the menu boxes
	will have space on either side of the text -- try it */
	}

#menuh li
	{
	position:relative;
	/*min-height: 1px;		/* Sophie Dennis contribution for IE7 
	vertical-align: bottom;		/* Sophie Dennis contribution for IE7 */
	}

/*#menuh ul ul
	{
	position:absolute;
	z-index:500;
	top:auto;
	display:none;
	padding: 1em;
	margin:-1em 0 0 -1em;
	}

#menuh ul ul ul
	{
	top:0;
	left:100%;
	}

div#menuh li:hover
	{
	cursor:pointer;
	z-index:100;
	}

div#menuh li:hover ul ul,
div#menuh li li:hover ul ul,
div#menuh li li li:hover ul ul,
div#menuh li li li li:hover ul ul
{display:none;}

div#menuh li:hover ul,
div#menuh li li:hover ul,
div#menuh li li li:hover ul,
div#menuh li li li li:hover ul
{display:block;}*/

/* End CSS Drop Down Menu */
/*..................................................................................*/


/* Word Press Menu
-------------------------------------------------------------- */


#access .menu-header,
div.menu {
	font-size: 11px;
	margin-left: 12px;
	
/* removed AH 12/08/14
width: 928px;*/
}
#access .menu-header ul,
div.menu ul {
	list-style: none;
	margin: 0;
}
#access .menu-header li,
div.menu li {
	float: left;
	position: relative;
}
#access a {
	color: #fff;
	display: block;
	line-height: 23px;
	padding: 0 10px;
	text-decoration: none;
}
#access ul ul {
	box-shadow: 0px 3px 3px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 3px 3px rgba(0,0,0,0.2);
	-webkit-box-shadow: 0px 3px 3px rgba(0,0,0,0.2);
	display: none;
	position: absolute;
	top: 23px;
	left: 0;
	float: left;
	width: 180px;
	z-index: 99999;
}
#access ul ul li {
	min-width: 180px;
}
#access ul ul ul {
	left: 100%;
	top: 0;
}
#access ul ul a {
	background: #333;
	line-height: 1em;
	padding: 10px;
	width: 160px;
	height: auto;
}
#access li:hover > a,
#access ul ul :hover > a {
	background: #333;
	color: #FFFF99;
}
#access ul li:hover > ul {
	display: block;
}

/* Menu End */

.axiom_container {
    height:99%;
    width:1100px;
    text-align:left;
    font-size:11px;
    padding:5px;
    border: 1px solid gray;
}

/* New Akira stuff */

#resizable1 
{ 
  position:relative;
  height:98%;
  width: 20%; 
  float:left;
  overflow-x:hidden;
  overflow-y:auto;
  /*background-color:lightgray;
  z-index:100;*/

}

.resizable h3 
{ 
    /*text-align: center;*/ 
    margin: 0; 
}

.ui-widget-content{padding: 0px;height: 150px;}

#parent{
    height:82%;
    width:100%;
    position:relative;
    top:auto;    
    left:0%;
}




#resizable2 {
    /*width:78%;*/
    height:98%;
    position:relative;
    /*overflow:auto;*/
}

#project_grid_rs
{
    width:100%;
    height:95%;
    overflow-y: auto;
    overflow-x:hidden;
}

#project_grid_rs th {
	padding: 3px 2px 3px 2px;
}

#project_grid_rs th a {
    text-decoration:none;
    font-weight:normal;
    color:white;
}

#project_grid_rs td {
	padding: 2px;
}

#footer{
    position:fixed;
    background-color:lightgray;
    height:40px;
    width:100%;
    min-height:40px;
    bottom:0px;
    left:0px;
}


.FixedHeader
{
   position: absolute;
   vertical-align: text-bottom;
   z-index:500;
}

.FilterRow{
    height:40px;
}

/* changed by AH from .header to #header*/
#header{
    width:100%;
    height:auto;
    position:relative;
    top:0px;
    left:0px;
}

#header_old 
{
    width:1100px;
    text-align:left;
    padding:5px;
    /*border: 1px solid yellow;*/
    margin-left:auto;
    margin-right:auto;
}

#access {
    background: gray;
    display: block;
    width: 100%;
    height:auto;
    left:0%;
    position:relative;
    z-index:1000;
    text-align:left;
}

#access_old {
	background: gray;
	display: block;
	/*float: left;*/
	/*margin: 0 auto;*/
	width: 1110px;
    margin-left:auto;
    margin-right:auto;
    text-align:left;
}

body {
    font-family:verdana;
    font-size: 11px;
    text-align:left;
    margin:0px;
    position:absolute;
    height:100%;
    width:100%;
    scrollbar-arrow-color:rgb(220,220,220);
    scrollbar-track-color:rgb(220,220,220);
    scrollbar-face-color:rgb(140,140,140);
    scrollbar-shadow-color:rgb(140,140,140);
    scrollbar-base-color:rgb(220,220,220);
}


/* Word Press Menu - repeated for _old 11/10/2014
-------------------------------------------------------------- */


#access_old .menu-header,
div.menu {
	font-size: 11px;
	margin-left: 12px;
	
/* removed AH 12/08/14
width: 928px;*/
}
#access_old .menu-header ul,
div.menu ul {
	list-style: none;
	margin: 0;
}
#access_old .menu-header li,
div.menu li {
	float: left;
	position: relative;
}
#access_old a {
	color: #fff;
	display: block;
	line-height: 23px;
	padding: 0 10px;
	text-decoration: none;
}
#access_old ul ul {
	box-shadow: 0px 3px 3px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 3px 3px rgba(0,0,0,0.2);
	-webkit-box-shadow: 0px 3px 3px rgba(0,0,0,0.2);
	display: none;
	position: absolute;
	top: 23px;
	left: 0;
	float: left;
	width: 180px;
	z-index: 99999;
}
#access_old ul ul li {
	min-width: 180px;
}
#access_old ul ul ul {
	left: 100%;
	top: 0;
}
#access_old ul ul a {
	background: #333;
	line-height: 1em;
	padding: 10px;
	width: 160px;
	height: auto;
}
#access_old li:hover > a,
#access_old ul ul :hover > a {
	background: #333;
	color: #FFFF99;
}
#access_old ul li:hover > ul {
	display: block;
}

/* Menu End */

/* Added 25/10/14 for new Budget process*/

.blank {
    visibility:hidden;
    border-left-style:none;
    border-right-style:none;
}

tr.table > td {
    border: solid 1px rgb(128,128,128);
}

.budgetgrid{
    
    position:absolute;
    overflow-y:auto;
    overflow-x:hidden;
    height:100%;
}

/* Added 31/10/14 for new Budget process*/

tr.total > td:first-child {
    font-weight:bold;
}

tr.balance > td:first-child {
    font-weight:bold;
}


/* Added 08/12/14 for new Calendar screen*/

#calendar_grid{
    overflow-y:auto;
    overflow-x:auto;
    height:98%;
    width:100%;
}

.BrandHeader{
    padding-right:80px;
    width:80px;
    font-weight:normal;
}

.MonthHeader{
    padding-right:80px;
    width:80px;
    font-weight:normal;
}

.ReallocationHeader{
    /*width:80px;*/
    font-weight:normal;
}


.CalendarHeader{
    position:fixed;
    z-index:100;
    font-weight:normal;

}

.hidden_multiselect{
    display:none;
}

.show_multiselect{
    display:inherit;
}

#dropdown_button{
    position:relative;
    left:-5px;
    bottom:-4px;
}

.GVFixedHeader { position:relative; 
                 top: expression(this.parentNode.parentNode.parentNode.parentNode.scrollTop-2);
}

/* Added 25/04/15 for Vertical Resizing fix*/
#ctl00_ContentPlaceHolder1_Grid1_bodymain{
    overflow-x: auto;
    overflow-y: auto;
    height: 70%; /* changed to 90% from 98% 05/06/15; changed from 90% to 70% 17/06/15 */
    width: 100%;
    position: relative;
}

.GridHeader {
    font-weight:normal;
}