﻿<%@ Page Title="" Language="C#" MasterPageFile="~/AP.master" AutoEventWireup="true" EnableEventValidation="false" CodeFile="VarianceView.aspx.cs" Inherits="VarianceView" %>

<%@ Register src="User_Controls/VarianceGrid.ascx" tagname="VarianceGrid" tagprefix="uc1" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
<asp:MultiView ID="mvw" runat="server">
    <asp:View ID="vw1" runat="server">
        <uc1:VarianceGrid ID="VarianceGrid1" runat="server" />
    </asp:View>
    <asp:View ID="vw2" runat="server">

    </asp:View>
</asp:MultiView>
</asp:Content>

