﻿<%@ Page Title="" Language="C#" MasterPageFile="~/AP_rs.master" EnableEventValidation="false" AutoEventWireup="true" CodeFile="Worklist.aspx.cs" Inherits="Worklist" %>

<%@ Register src="User_Controls/Worklist.ascx" tagname="Worklist1" tagprefix="uc1" %>
<%@ Register src="User_Controls/WorklistSummary_rs.ascx" tagname="WorklistSummary_rs" tagprefix="uc3" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <uc1:Worklist1  ID="Grid1" runat="server" />
</asp:Content>

