﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="FilterDropDown.ascx.cs" Inherits="FilterDropDown" %>

<asp:Label ID="Label1" runat="server" />        
<asp:DropDownList ID="cboFilterDropDown" runat="server" AutoPostBack="True" CausesValidation="false" />
                