﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="WorklistSummary.ascx.cs" Inherits="User_Controls_WorklistSummary" %>
  <div id="spacer"></div>
    <table border="0"><tr><td>
        <asp:Label ID="Label6" runat="server" Text="Worklist Items For User" CssClass="page_header" />&nbsp;
    </td><td>
        &nbsp;&nbsp;
    </td>
<%if (Convert.ToInt16(Session["CurrentUserLevelID"]) < 8)
{ %>
    <td>
        <asp:Label ID="Label1" runat="server" Text="Create PR"></asp:Label>
    </td><td>
        <asp:Label ID="txtWorklist5" runat="server" CssClass="label_text" />&nbsp;&nbsp;
    </td><td>
        <asp:Label ID="Label2" runat="server" Text="Awaiting PO No"></asp:Label>
    </td><td>
        <asp:Label ID="txtWorklist1" runat="server" CssClass="label_text" />&nbsp;&nbsp;
    </td><td>
        <asp:Label ID="Label3" runat="server" Text="Change To PO"></asp:Label>
    </td><td>   
        <asp:Label ID="txtWorklist3" runat="server" CssClass="label_text" />&nbsp;&nbsp;
    </td>
<% } %>
    <td>
        <asp:Label ID="Label4" runat="server" Text="Request Receipt"></asp:Label>
    </td><td>
        <asp:Label ID="txtWorklist2" runat="server" CssClass="label_text" />&nbsp;&nbsp;
    </td>
<%if (Convert.ToInt16(Session["CurrentUserLevelID"]) < 8)
{ %>
    <td>
        <asp:Label ID="Label5" runat="server" Text="Action Receipt"></asp:Label>
    </td><td>
        <asp:Label ID="txtWorklist4" runat="server" CssClass="label_text" />&nbsp;&nbsp;
    </td>
    </tr>
    <tr>
        <td></td>
        <td></td>
<% } %>
    <td>
        <asp:Label ID="Label7" runat="server" Text="Approve Rebate"></asp:Label>
    </td><td>
        <asp:Label ID="txtWorklist7" runat="server" CssClass="label_text" />&nbsp;&nbsp;
    </td>
    <td>
        <asp:Label ID="Label10" runat="server" Text="Approve Reallocation"></asp:Label>
    </td><td>
        <asp:Label ID="txtWorklist9" runat="server" CssClass="label_text" />&nbsp;&nbsp;
    </td>
<%if (Convert.ToInt16(Session["CurrentUserLevelID"]) == 35)
{ %>
    <td>
        <asp:Label ID="Label8" runat="server" Text="Create Rebate"></asp:Label>
    </td><td>
        <asp:Label ID="txtWorklist8" runat="server" CssClass="label_text" />&nbsp;&nbsp;
    </td>
    <td>
        <asp:Label ID="Label9" runat="server" Text="Change To Rebate"></asp:Label>
    </td><td>
        <asp:Label ID="txtWorklist6" runat="server" CssClass="label_text" />&nbsp;&nbsp;
    </td>
<% } %>
    </tr>
    </table>
    <!--<asp:Button ID="cmdWorklist" runat="server" Text="Worklists" Visible="true"
        onclick="cmdWorklist_Click" CssClass="form_button" />-->    
        
        

        
